* {
    box-sizing: border-box;
  }
  body{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }
.App{
    text-align: center;
}
.App-intro{
    font-size: large;
}
header{
    background-color: black;
    color:rgb(202, 198, 198);;
    text-align: center;
    padding: 10px;
    font-family: sans-serif;
    margin-bottom:40px
}
.search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }
.input{
    width:350px;
    height:24spx;
    border-left: none;
    text-align: center;
    letter-spacing: 3px;
    background-color:rgb(202, 198, 198); ;
}
input[type="submit"]:hover {
    background-color: #282c34;
    color: antiquewhite;
}
.submit{
    margin-left: 5px;
    padding:0;
    background:rgb(202, 198, 198);
}
.movie {
    padding: 5px 25px 10px 25px;
    max-width: 25%;
    margin-top:30px;
    border:1px solid rgb(202, 198, 198);;
    margin:40px 5px 10px 5px;
  }
.movies{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width:90%;
        margin: auto;
}
.title{
    height:80px;
    width:200px;
    color:rgb(202, 198, 198);
}
img:hover {
    box-shadow: 0 0 3px 2px rgba(0, 140, 186, 0.5);
  }